# Project exclude paths
/.gradle/
/build/
/modules/AntiMycelium/build/
/modules/AntiMycelium/build/classes/java/main/
/modules/Archery/build/
/modules/Archery/build/classes/java/main/
/modules/AutoAlert/build/
/modules/AutoAlert/build/classes/java/main/
/modules/BountyColdieStyle/build/
/modules/BountyColdieStyle/build/classes/java/main/
/modules/BuildingSkillMod/build/
/modules/BuildingSkillMod/build/classes/java/main/
/modules/CavusNostra/build/
/modules/CavusNostra/build/classes/java/main/
/modules/Ceiling/build/
/modules/Ceiling/build/classes/java/main/
/modules/Combiner/build/
/modules/Combiner/build/classes/java/main/
/modules/CreaturesDB/build/
/modules/CreaturesDB/build/classes/java/main/
/modules/Decorations/build/
/modules/Decorations/build/classes/java/main/
/modules/DeedMaker/build/
/modules/DeedMaker/build/classes/java/main/
/modules/DPS/build/
/modules/DPS/build/classes/java/main/
/modules/Dungeons/build/
/modules/Dungeons/build/classes/java/main/
/modules/DyeMaker/build/
/modules/DyeMaker/build/classes/java/main/
/modules/EpicCurve/build/
/modules/EpicCurve/build/classes/java/main/
/modules/EventPortals/build/
/modules/EventPortals/build/classes/java/main/
/modules/FishMonger/build/
/modules/FishMonger/build/classes/java/main/
/modules/GMInvul/build/
/modules/GMInvul/build/classes/java/main/
/modules/Joke/build/
/modules/Joke/build/classes/java/main/
/modules/LeadMore/build/
/modules/LeadMore/build/classes/java/main/
/modules/LTDebuff/build/
/modules/LTDebuff/build/classes/java/main/
/modules/MilkReset/build/
/modules/MilkReset/build/classes/java/main/
/modules/MobSpawnMaxCount/build/
/modules/MobSpawnMaxCount/build/classes/java/main/
/modules/NoSaltOrSand/build/
/modules/NoSaltOrSand/build/classes/java/main/
/modules/OneTileMining/build/
/modules/OneTileMining/build/classes/java/main/
/modules/Paintings/build/
/modules/Paintings/build/classes/java/main/
/modules/Portals/build/
/modules/Portals/build/classes/java/main/
/modules/RepairTower/build/
/modules/RepairTower/build/classes/java/main/
/modules/RiftEvent/build/
/modules/RiftEvent/build/classes/java/main/
/modules/Roll/build/
/modules/Roll/build/classes/java/main/
/modules/ServerTimeMessage/build/
/modules/ServerTimeMessage/build/classes/java/main/
/modules/Signs/build/
/modules/Signs/build/classes/java/main/
/modules/Sitheil/build/
/modules/Sitheil/build/classes/java/main/
/modules/SteamID/build/
/modules/SteamID/build/classes/java/main/
/modules/Survival/build/
/modules/Survival/build/classes/java/main/
/modules/TentSleep/build/
/modules/TentSleep/build/classes/java/main/
/modules/TitleMod/build/
/modules/TitleMod/build/classes/java/main/
/modules/TradeRouteMod/build/
/modules/TradeRouteMod/build/classes/java/main/
/modules/Unleash/build/
/modules/Unleash/build/classes/java/main/
/modules/VRMounts/build/
/modules/VRMounts/build/classes/java/main/
/modules/Windmill/build/
/modules/Windmill/build/classes/java/main/